<div class="header fixed-top">
  <div class="col-12 mx-auto" >
    <a class="but" style=" width: 20%; float: left; color: white ; font-size: 20px; background-color: rgba(0,0,0,0.5); background-blend-mode: darken"><img src="{{geticonpik}}" height="27" width="27" alt=" ">{{Name}}</a>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
    </mat-menu>

    <a class="but" (click)="PageService.SetActivePageString('InfoReserv')" style=" width: 20%; float: left;background-color: rgba(0,0,0,0.5); background-blend-mode: darken;color: white ; font-size: 20px"><i class="far fa-calendar-alt"></i> {{IDate}} <span class="sr-only">(current)</span></a>
    <mat-menu #belowMenu="matMenu" yPosition="below">
    </mat-menu>

    <a class="but" (click)="PageService.SetActivePageString('InfoHotel')" style="width: 20%; float: left;background-color: rgba(0,0,0,0.5); background-blend-mode: darken; color: white ; font-size: 20px"><i class="fas fa-home">  </i> {{InfoHotel}}</a>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
    </mat-menu>


    <a class="but" (click)="PageService.SetActivePageString('InfoMoney')" style="width: 20%; float: left;background-color: rgba(0,0,0,0.5); background-blend-mode: darken; color: white; font-size: 20px"><i class="fas fa-exclamation-circle"></i> {{InfoMoney}}</a>
    <mat-menu #afterMenu="matMenu" xPosition="after">
    </mat-menu>

    <a  class="but" (click)="PageService.SetActivePageString('Order')" style="width: 20%; float: left;background-color: rgba(0,0,0,0.5); background-blend-mode: darken; color: white; font-size: 20px"> <i class="fas fa-info-circle"></i> {{reservation}} </a>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
    </mat-menu>

  </div>
</div>


