.header{
    color: white;
    background-color: rgba(0,0,0,0.5);
  background-blend-mode: darken;

}
/*.but{*/
/*width: 100%;*/
/*  color: white ;*/
/*  font-size: 16px;*/
/*  padding: 4%;*/
/*}*/
/*.stylebut{*/
/*  background-color: rgba(0,0,0,0.7);*/
/*  background-blend-mode: darken;*/
/*  padding: 5px;*/
/*}*/
a {
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: lightgray;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar{
  border-radius: 3px;
}

@media(max-width: 959px){
  mat-toolbar{
    border-radius: 0px;
  }
}
