<div class="header fixed-top"><div class="row">
  <div class="col-3">
    <a class="but" ><img src="{{geticonpik}}" height="22" width="22" alt=" ">{{Name|uppercase}}</a>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
    </mat-menu></div>
  <div class="col-2" >
    <a class="but" style="padding: 5%;" (click)="PageService.SetActivePageString('InfoReserv')" ><i class="far fa-calendar-alt"></i> {{IDate|uppercase}} <span class="sr-only">(current)</span></a>
    <mat-menu #belowMenu="matMenu" yPosition="below">
    </mat-menu></div>
  <div class="col-2">
    <a class="but" style="padding: 5%;" (click)="PageService.SetActivePageString('InfoHotel')" ><i class="fas fa-home">  </i> {{InfoHotel|uppercase}}</a>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
    </mat-menu></div>
  <div class="col-3">

    <a class="but" (click)="PageService.SetActivePageString('InfoMoney')" ><i class="fas fa-exclamation-circle"></i> {{InfoMoney|uppercase}}</a>
    <mat-menu #afterMenu="matMenu" xPosition="after">
    </mat-menu></div>
  <div class="col-2">
    <a  class="but" style="padding: 5%;" (click)="PageService.SetActivePageString('Order')" > <i class="fas fa-info-circle"></i> {{reservation|uppercase}} </a>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
    </mat-menu></div>

  </div>
</div>
