<!--<div class="header fixed-top">-->

<!--  <div class="row">-->

<!--  <div class="col-3">-->
<!--    <div class="col-12 stylebut">-->
<!--      <a class="but" ><img src="{{geticonpik}}" height="22" width="35" alt=" "> {{Name|uppercase}}</a>-->
<!--      <mat-menu #aboveMenu="matMenu" yPosition="above">-->
<!--      </mat-menu>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="col-2" >-->
<!--    <div class="col-12 stylebut">-->
<!--      <a class="but" style="padding: 5%;" (click)="PageService.SetActivePageString('InfoReserv')" ><i class="far fa-calendar-alt"></i> {{IDate|uppercase}} <span class="sr-only">(current)</span></a>-->
<!--      <mat-menu #belowMenu="matMenu" yPosition="below">-->
<!--      </mat-menu>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="col-2">-->
<!--    <div class="col-12 stylebut">-->
<!--      <a class="but" style="padding: 5%;" (click)="PageService.SetActivePageString('InfoHotel')" ><i class="fas fa-home">  </i> {{InfoHotel|uppercase}}</a>-->
<!--      <mat-menu #beforeMenu="matMenu" xPosition="before">-->
<!--      </mat-menu>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="col-3">-->
<!--    <div class="col-12 stylebut">-->
<!--      <a class="but" (click)="PageService.SetActivePageString('InfoMoney')" ><i class="fas fa-exclamation-circle"></i> {{InfoMoney|uppercase}}</a>-->
<!--      <mat-menu #afterMenu="matMenu" xPosition="after">-->
<!--      </mat-menu>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="col-2">-->
<!--    <div class="col-12 stylebut">-->
<!--      <a  class="but" style="padding: 5%;" (click)="PageService.SetActivePageString('Order')" > <i class="fas fa-info-circle"></i> {{reservation|uppercase}} </a>-->
<!--      <mat-menu #beforeMenu="matMenu" xPosition="before">-->
<!--      </mat-menu>-->
<!--    </div>-->
<!--  </div>-->

<!--  </div>-->
<!--  -->
<!--</div>-->


<mat-toolbar color="primary" class="header">
  <div fxHide.gt-xs >
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a class="but" (click)="PageService.SetActivePageString('InfoReserv')" ><img src="{{geticonpik}}" height="22" width="35" alt=" "> {{Name}}</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a class="but" style="padding: 5%;" (click)="PageService.SetActivePageString('reservation')" ><i class="far fa-calendar-alt"></i> {{IDate}} <span class="sr-only">(current)</span></a>
      </li>
      <li>
        <a class="but" style="padding: 5%;" (click)="PageService.SetActivePageString('numberinfo')" ><i class="far fa-calendar-alt"></i> Ціни на номера <span class="sr-only">(current)</span></a>
      </li>
      <li>
        <a class="but" style="padding: 5%;" (click)="PageService.SetActivePageString('InfoHotel')" ><i class="fas fa-home">  </i> {{InfoHotel}}</a>
      </li>
      <li>
        <a class="but" (click)="PageService.SetActivePageString('InfoMoney')" ><i class="fas fa-exclamation-circle"></i> {{InfoMoney}}</a>
      </li>
    <li>
      <a  class="but" style="padding: 5%" (click)="PageService.SetActivePageString('Order')" > <i class="fas fa-info-circle"></i> {{reservation  }} </a>
    </li>
    </ul>
  </div>
</mat-toolbar>
