.image{
  font-family: "Playfair Display Italic",Georgia;
  font-style: italic;
   width:auto;height:100%;
  background-image:url(../assets/image/drag.jpg);
  background-position:50% 50%;
  background-size:cover;
  background-color: rgba(0,0,0,.4);
  background-blend-mode: darken;
}

.body{

}
.button {
  border: 0;
}

.header
{
  width: 100%;
}
.kkk {
  font-size: 18px;
  margin: 8% ;
  padding: 1%;
  color: white;
  background-color: rgba(0,0,0,.2);
  background-blend-mode: darken;
}

