<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark topBar">
  <div class="col-3">

  </div>
  <div class="collapse navbar-collapse col-3" id="navbarCollapse">
    <ul class="list-group list-group-flush" id="navbarlist1" >
      <li class="list-group-item"><a href="#">pikhotel@gmail.com</a></li>
      <li class="list-group-item"><a href="#">+380 50 3735947</a></li>
      <li class="list-group-item"><a href="pikhotel.com">pikhotel.com</a></li>
    </ul>
  </div>
  <div class="col-3">
    <span class="adress-info">{{information}}</span>
  </div>
  <div class="col-3">
  </div>
</nav>
