.list-group-item, .adress-info{
  background: rgba(0,0,0,0);
  font-weight: bold;
  color: snow;
  font-size: 0.9em;
}
.adress-info{
  font-size: 0.8em;
}


*{
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
}

.material-icons{
font-family: "Material Icons" !important;
}

a{
  padding-left: 5px;
}
 li.list-group-item{
   padding: 5px;
 }
