<nav class="navbar fixed-bottom" style="color: white ; background-color: rgba(0,0,0,.2); background-blend-mode: darken;" >


  <div class="mx-auto" style="font-size: 20px">
    <img src="../../assets/image/book-information-variant.png" height="24" width="24" alt=" "/>
    {{contact}}
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-12 col-sm-6 col-xl-6 ">
        <div class="footer">
          <div class="col-12"> <img src="../../assets/image/at.png" height="24" width="24" alt=" "/>{{InfoM}}</div>
          <div class="col-12"> <img src="../../assets/image/cellphone.png" height="24" width="24" alt=" "/>{{InfoN}}</div>
          <div class="col-12"> <img src="../../assets/image/web.png" height="24" width="24" alt=" "/>{{WebPik}}</div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-xl-6">
        <div class="mx-auto">
             <pre class ="footer" style="color: white">
             {{Information}}
             </pre>
        </div>
      </div>
    </div>
  </div>
</nav>
