.topBar{
/*background: rgba(115,73,73,0.5);*/
  background: rgba(0,0,0,0.5);
}
body{
  background: url("imgs/bg1.png") no-repeat;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%;
}


a {
  color: snow;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: snow;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
